Source: flappybirddca
Section: unknown
Priority: optional
Maintainer: antoniorv6 <antoniorv6@unknown>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/flappybirddca
#Vcs-Git: https://salsa.debian.org/debian/flappybirddca.git
Rules-Requires-Root: no

Package: flappybirddca
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
