Package: flappybirddca-dbgsym
Package-Type: ddeb
Source: flappybirddca
Version: 0.1.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: antoniorv6 <antoniorv6@unknown>
Installed-Size: 463
Depends: flappybirddca (= 0.1.1)
Section: debug
Priority: optional
Description: debug symbols for flappybirddca
Build-Ids: 1c5a5ffd2a040bd0246c4ccda2c779a74ec3a0e3
