Package: flappybirddca
Version: 0.1.1
Architecture: amd64
Maintainer: antoniorv6 <antoniorv6@unknown>
Installed-Size: 1292
Depends: libc6 (>= 2.35), libgcc-s1 (>= 3.0), libstdc++6 (>= 11)
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
